
/* Add basic styling for NavLinks */
.nav {
  display: "inline-block";
  width: 70%;
  padding: 12px;
  margin: 0 6px 6px;
  border-radius: 75px;
  background: #0d6efd;
  text-decoration: none;
  text-align: center;
  color: white;
}

.nav:hover {
  background: #8faacc;
  color: white
}

.stickyNav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1
}

.mainContainer {
  margin-top: 10px;
}

.doctorcard {
  width: 15rem;
  margin: 15px
}

.footer {
  color: #fff;
  background-color: #0d6efd;
  text-align: center;
  padding: 25px 0;
}
